
{% extends '@IpnozAdmin/Modals/base.html.twig' %}

{% set modal_id = 'modal-delete-item' %}
{% set modal_title = modal_title is defined ? modal_title : '' %}
{% set modal_description = modal_description is defined ? modal_description : '' %}

{% block modal_content %}
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">{{ modal_title }}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p class="d-none original-description">
                    {{ modal_description|raw }}
                </p>
                <p class="description"></p>
            </div>

            <div class="modal-footer">
                <button id="modal-confirm-action" type="button" class="btn btn-danger">
                    Supprimer
                </button>
            </div>

        </div>
    </div>
{% endblock %}
