
{% extends '@IpnozAdmin/Modals/base.html.twig' %}

{% set modal_id = 'modal-edit-input' %}
{% set modal_title = modal_title is defined ? modal_title : 'Edition' %}

{% block modal_content %}
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">{{ modal_title }}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <textarea class="form-control"></textarea>
            </div>

            <div class="modal-body">
                <p class="help"></p>
            </div>

            <div class="modal-footer">
            {% block modal_footer_buttons %}
                <button id="modal-confirm-action" type="button" data-dismiss="modal" class="btn btn-primary">
                    Éditer
                </button>
            {% endblock %}
            </div>

        </div>
    </div>
{% endblock %}
