
{% extends '@IpnozAdmin/Modals/base.html.twig' %}

{% set modal_id = 'modal-select-media' %}

{% block modal_content %}
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                {# This element must be cloned by jQuery with it's event #}
                <div class="d-none media"><img src="" alt="" /></div>
                <div class="medias-inner"></div>
                <div class="display-more-element">
                    <button class="btn-link display-more-btn">Afficher plus d'images</button>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-primary select-image">
                    Selectionner
                </button>
            </div>

        </div>
    </div>
{% endblock %}
