
{% extends '@IpnozAdmin/Modals/base.html.twig' %}

{% form_theme uploadImageForm '@IpnozAdmin/Form/modal_bootstrap_4_horizontal_layout.html.twig' %}
{% set modal_id = 'modal-upload-image' %}

{% block modal_content %}
    <div class="modal-dialog modal-dialog-centered modal-lg modal-ajax-upload">
        <div class="modal-content">

            {{ form_start(uploadImageForm) }}

            <div class="modal-header">

                {# Display form help and error in the headers #}
                {{ form_help(uploadImageForm) }}

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                {{ form_row(uploadImageForm.uploadedFile) }}
                {{ form_row(uploadImageForm.attrTitle) }}
                {{ form_row(uploadImageForm.attrAlt) }}
            </div>

            <div class="modal-footer">
                {{ form_row(uploadImageForm.submit) }}
            </div>

            {{ form_end(uploadImageForm) }}

        </div>
    </div>
{% endblock %}
