{% extends 'bootstrap_4_horizontal_layout.html.twig' %}

{# Moved the error display from the label element below the widget element for a better layout #}
{% block form_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        {%- set widget_attr = {} -%}
        {%- if help is not empty -%}
            {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
        {%- endif -%}
        <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group row' ~ ((not compound or force_error|default(false)) and not valid ? ' is-invalid'))|trim})} %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form, null, { 'errors': false }) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form, widget_attr) -}}
                {{- form_errors(form) -}}
                {{- form_help(form) -}}
            </div>
            {##}</div>
    {%- endif -%}
{%- endblock form_row %}

{% block form_label_class -%}
    {% if isPublishRow is defined and isPublishRow %}
        col-sm-4
    {%- else -%}
        {{- parent() -}}
    {% endif %}
{%- endblock %}

{% block form_group_class -%}
    {% if isPublishRow is defined and isPublishRow %}
        col-sm-8
    {%- else -%}
        {{- parent() -}}
    {% endif %}
{%- endblock %}

{# Override the default layout from the compound #}
{% block ipnoz_admin_publish_row %}
    <div class="publish-sidebar submit-btn-area">
        <fieldset>
            {{- form_label(form) -}}
            {{- form_row(form.status, { 'isPublishRow': true }) -}}
            {{- form_row(form.publishAt, { 'isPublishRow': true }) -}}
            {{- form_row(form.publishUntil, { 'isPublishRow': true }) -}}
            {{- form_widget(form.submit) -}}
        </fieldset>
    </div>
{% endblock %}

{# Override the default layout from the compound #}
{% block ipnoz_admin_created_at_row %}
    {{- form_row(form.createdAt) -}}
    {{- form_row(form.updatedAt) -}}
{% endblock %}

{# Override the default layout from the compound #}
{% block ipnoz_admin_referenceable_row %}
    {{- form_row(form.metaTitle) -}}
    {{- form_row(form.metaDescription) -}}
    {{- form_row(form.metaKeywords) -}}
{% endblock %}

{% block ipnoz_admin_body_html_row %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{- form_row(form) -}}
{% endblock %}
