
<div id="{{ elementId }}" class="invalid-feedback">
    <span class="form-error-icon badge badge-danger text-uppercase">{{ 'Error'|trans({}, 'validators') }}</span>
    <span class="form-error-message"></span>
</div>
