{% extends 'bootstrap_4_horizontal_layout.html.twig' %}

{# Add a hidden element to display ajax errors with upload.js following Symfony 5.2 template #}
{% block form_help -%}
    {{ parent() }}
    {{ include('@IpnozAdmin/Form/form_error.twig', { 'elementId': form.vars.id ~'_ajax_error' }) }}
{%- endblock form_help %}

