
{% set modifyText = (modifyText is defined) ? modifyText : 'Modify' %}
{% set btnStatus = (isOnline is defined and isOnline != true) ? 'offline' : 'online' %}

<div class="dropdown">
    <a href="{{ modifyPath }}" class="btn btn-{{ btnStatus }} btn-sm" data-toggle="tooltip" data-placement="left" data-title="{{ modifyText }}">
        <i class="fas fa-cog"></i>
    </a>
    <button id="action-menu-{{ action_button_id }}" class="btn btn-{{ btnStatus }} btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="action-menu-{{ action_button_id }}">
        {% if onlineStatusAction is defined %}
            {% include '@IpnozAdmin/Base/Table/ActionMenu/_toggle-online-status.html.twig' %}
        {% endif %}
        {% if deleteAction is defined %}
            {% include '@IpnozAdmin/Base/Table/ActionMenu/_delete.html.twig' %}
        {% endif %}
    </div>
</div>
