
/*
 * This file is part of the Ipnoz Admin bundle.
 *
 * (c) David Dadon <david.dadon@ipnoz.net>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

$color-grey: #666;
$color-light-grey: #dddddd;
$color-very-light-grey: #f3f3f3;
$color-purple: #4336FB;
$color-purple-darken: #7801ff;

$color-theme-primary: $color-purple;

$border-color-light-grey:  $color-light-grey;
$hover-color-light-grey:  $color-very-light-grey;
