
/*
 * This file is part of the Ipnoz Admin bundle.
 *
 * (c) David Dadon <david.dadon@ipnoz.net>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

$breakpoint-xl: 'only screen and (min-width:1200px)';
$breakpoint-lg: 'only screen and (min-width:992px) and (max-width:1199px)';
$breakpoint-md: 'only screen and (min-width:768px) and (max-width:991px)';
$breakpoint-sm: 'only screen and (min-width:576px) and (max-width:767px)';
$breakpoint-xs: 'only screen and (max-width:767px)';
$breakpoint-xs-landscape: 'only screen and (min-width:480px) and (max-width:767px)';

$min-width-xs: '(min-width: 480px)';
$min-width-sm: '(min-width: 576px)';
$min-width-md: '(min-width: 768px)';
$min-width-lg: '(min-width: 992px)';
$min-width-xl: '(min-width: 1200px)';
$min-width-xxl: '(min-width: 1365px)';
$min-width-xxxl: '(min-width: 1640px)';

// Menu width size breakpoint
$menu-breakpoint: #{$min-width-lg};

@mixin display-flex($value) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: $value;
}

@mixin flex($value) {
    -webkit-box-flex: 0;
    -ms-flex: $value;
    flex: $value;
}

@mixin fflex($value) {
    @include flex(0 0 $value);
    width: $value;
    max-width: $value;
}

@mixin flex-wrap($value) {
    -ms-flex-wrap: $value;
    flex-wrap: $value;
}

@mixin justify-content($value) {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
    justify-content: $value;
}

@mixin align-items($value) {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
    -ms-grid-row-align: $value;
    align-items: $value;
}
