
/*
 * This file is part of the Ipnoz Admin bundle.
 *
 * (c) David Dadon <david.dadon@ipnoz.net>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

@import 'utils/import';
@import 'vendor/import';
@import 'srtdash-admin-template/import';
@import 'elements/import';

.admin-toolbar {
    padding: 5px 0;
    text-align: right;
    margin-bottom: 10px;
}

.nav-tabs {
    border-bottom: none;
}

.page-title {
    text-decoration: underline;
    text-decoration-color: #F9CCCF;
    text-decoration-thickness: 0.5em;
    text-underline-offset: -0.25em;
    text-decoration-skip-ink: none;
}

form {
    label:not(.form-check-label) {
        &.required {
            color: #000;
            &:after {
                content: '*';
                color: #ff0000;
                margin-left: 5px;
            }
        }
    }
    .publish-sidebar {
        border: 1px solid $border-color-light-grey;
        background-color: #fff;
        padding: 10px;
        fieldset {
            text-align: left;
            > legend {
                font-size: 18px;
                font-weight: bold;
            }
            legend, label {
                display: inline-block;
                color: #666;
            }
            .form-text.text-muted {
                display: none;
            }
            label {
                margin-bottom: 0;
            }
        }
    }

    .js-editable-modal {
        cursor: pointer;
        border: transparent;
        border-bottom: 1px solid $border-color-light-grey;
        border-radius: 0;
        padding: 0;
    }
}

.btn-offline {
    i {
        color: $color-light-grey;
    }
}

.outdated-browser {
    margin: 15px;
}
