
{% block link_button_new %}
    {% set title = (link_button_title is defined) ? link_button_title : '' %}
    <a class="link-button" href="{{ path(link_button_route) }}" title="{{ title }}">
        <i class="ti-plus"></i>
    </a>
{% endblock link_button_new %}
