<!--[if lt IE 8]>
<p class="outdated-browser alert alert-info">
    You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade yourbrowser</a>
    to improve your experience.
</p>
<![endif]-->
