{% extends '@IpnozAdmin/Base/form.html.twig' %}

{% use '@IpnozAdmin/Base/tabs.html.twig' %}

{% block tabs_menu %}
    {{ block('tabs_header') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-12 col-md-9">
                <section>
                    {{ block('tabs_content') }}
                </section>
            </div>
            <div class="col-md-3">
                {{ form_row(form.publish) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block tabs_content_inner %}
    {% embed '@IpnozAdmin/Base/tabs-pane-content.html.twig' %}
        {% set tabPane = tabs.tab1 %}
        {% block tab_pane %}
            {{ form_row(form.name) }}
            {{ form_row(form.bodyHtml) }}
        {% endblock %}
    {% endembed %}
    {% embed '@IpnozAdmin/Base/tabs-pane-content.html.twig' %}
        {% set tabPane = tabs.tab2 %}
        {% block tab_pane %}
            {{ form_row(form.metas) }}
        {% endblock %}
    {% endembed %}
    {% embed '@IpnozAdmin/Base/tabs-pane-content.html.twig' %}
        {% set tabPane = tabs.tab3 %}
        {% block tab_pane %}
            {{ form_row(form.permalink) }}
            {{ form_row(form.createdAt) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
