{% extends '@IpnozAdmin/Base/Table/table.html.twig' %}

{% use '@IpnozAdmin/Base/Misc/link-buttons.html.twig' %}

{% set routeBase = 'ipnoz_admin_page_' %}

{% block admin_toolbar_content %}
    {% set link_button_route = routeBase ~'new' %}
    {% set link_button_title = 'Create a page' %}
    {{ block('link_button_new') }}
{% endblock %}

{% block table_thead %}
    <tr>
        <th>Name of the page</th>
        <th class="menu"></th>
    </tr>
{% endblock %}

{% block table_tbody %}
    {% for key, page in pages %}
    <tr class="{{ page.status }}">
        <td>
            {{ page.anyName }}
        </td>
        <td class="menu">
        {% embed '@IpnozAdmin/Base/Table/ActionMenu/base.html.twig' %}
            {% set modifyText = 'Modify the page' %}
            {% set modifyPath = path(routeBase ~'edit', { 'id': page.id }) %}
            {% set action_button_id = key %}
            {% set onlineStatusAction = path(routeBase ~'state', { 'id': page.id }) %}
            {% set isOnline = page.isOnline %}
            {% set deleteAction = path(routeBase ~'delete', { 'id': page.id }) %}
            {% set deleteActionName = page.getName() %}
        {% endembed %}
        </td>
    </tr>
    {% endfor %}
{% endblock %}

{% block modals %}
    {{ include ('@IpnozAdmin/Modals/delete-item.html.twig', {'modal_description': 'Supprimer la page <strong>%name%</strong> définitivement ?'}) }}
{% endblock %}
