{% extends '@IpnozAdmin/Base/main-content.html.twig' %}

{% block content %}
    <section>
        <table class="table table-borderless table-sm table-hover">
            <thead>
                {% block table_thead %}{% endblock table_thead %}
            </thead>
            <tbody>
                {% block table_tbody %}{% endblock table_tbody %}
            </tbody>
        </table>
    </section>
{% endblock %}
