
/*
 * This file is part of the Ipnoz Admin bundle.
 *
 * (c) David Dadon <david.dadon@ipnoz.net>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

.btn-primary {
    background-color: $color-theme-primary;
    border-color: $color-theme-primary;
    &:hover {
        background-color: darken($color-theme-primary, 5);
    }
}

.btn-outline-primary {
    color: $color-theme-primary;
    border-color: $color-theme-primary;
    &:hover {
        background-color: $color-theme-primary;
        border-color: $color-theme-primary;
    }
}
