
/*
 * This file is part of the Ipnoz Admin bundle.
 *
 * (c) David Dadon <david.dadon@ipnoz.net>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

.alert-form-validation {
    .title {
        font-weight: bold;
    }
    ul {
        list-style-type: initial;
        padding: 10px;
        @media #{$min-width-sm} {
            padding: 10px 50px;
        }
    }
}

.ajax-flash-message {
    z-index: 9999;
    position: fixed;
    top: 25px;
    right: 25px;
}
