
/*
 * This file is part of the Ipnoz Admin bundle.
 *
 * (c) David Dadon <david.dadon@ipnoz.net>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

#image-editor {
    margin: 10px 0;
    @media #{$min-width-md} {
        min-height: 500px;
    }
    background-color: $color-light-grey;
    i {
        font-size: 10em;
        color: $color-grey;
    }
}

#modal-select-media {
    @media #{$min-width-md} {
        padding: 0 25px;
    }
    .modal-body {
        overflow-y: scroll;
        max-height: 350px;
        @media #{$min-width-lg} {
            max-height: 500px;
        }
        .media {
            cursor: pointer;
            display: inline-block;
            border: 5px solid transparent;
            img {
                height: 100px;
            }
            &.selected {
                border-color: $color-theme-primary;
            }
        }
        .display-more-element {
            width: 100%;
            background-color: $color-light-grey;
            text-align: center;
            padding: 5px 0;
            margin: 10px 5px;
            .display-more-btn {
                border: none;
                background-color: transparent;
                &.disabled {
                    color: $color-grey;
                }
            }
        }
    }
}
