
/*
 * This file is part of the Ipnoz Admin bundle.
 *
 * (c) David Dadon <david.dadon@ipnoz.net>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

.link-button {
    i {
        font-size: 32px;
        color: #bdbcbc;
        transition: $transition-fast;
        &:hover {
            color: $color-theme-primary;
        }
    }
}
