
/*
 * This file is part of the Ipnoz Admin bundle.
 *
 * (c) David Dadon <david.dadon@ipnoz.net>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

section {
    border: 1px solid $border-color-light-grey;
    background-color: #fff;
    padding: 15px;
    .form-group {
        label {
            font-size: 16px;
        }
    }
}
