
/*
 * This file is part of the Ipnoz Admin bundle.
 *
 * (c) David Dadon <david.dadon@ipnoz.net>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

.table {
    table-layout: fixed;
    &.table-hover {
        tbody {
            tr {
                &:hover {
                    background-color: $hover-color-light-grey;
                }
            }
        }
    }
    tr {
        &.offline {
            color: $color-grey;
            a {
                color: $color-grey;
            }
        }
    }
    th.menu {
        width: 75px;
    }
    td {
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 10px;
        &.menu {
            overflow: visible;
            padding: 0;
            text-align: right;
            .btn {
                padding: 5px 10px;
            }
        }
    }
}
