{% extends '@KnpMenu/menu.html.twig' %}

{% block icon %}{% if item.extras.icon is defined %}<i class="{{ item.extras.icon }}"></i>{% endif %}{% endblock %}

{% block spanElement %}
    {% import _self as knp_menu %}
    {{ block('icon') }}
    <span{{ knp_menu.attributes(item.labelAttributes) }}>{{ block('label') }}</span>
{% endblock %}
