{% extends '@IpnozAdmin/Bundles/knp_menu/base.html.twig' %}

{% block root %}
    {% set listAttributes = item.childrenAttributes %}
    <h4 class="page-title pull-left">{{ item.name }}</h4>
    {{ block('list') -}}
{% endblock %}
