<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block metaTitle %}Ipnoz Admin Dashboard{% endblock metaTitle %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ asset('bundles/ipnozadmin/vendor/bootstrap-4.5.3/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/ipnozadmin/vendor/fontawesome-free-5.15.1-web/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/ipnozadmin/vendor/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/ipnozadmin/vendor/metis-menu/metisMenu.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/ipnozadmin/vendor/jquery-slicknav/slicknav.min.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/ipnozadmin/build/admin.min.css') }}">

        <script src="{{ asset('bundles/ipnozadmin/vendor/modernizr-2.8.3.min.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock body %}

        <script src="{{ asset('bundles/ipnozadmin/vendor/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ asset('bundles/ipnozadmin/vendor/popper.min.js') }}"></script>
        <script src="{{ asset('bundles/ipnozadmin/vendor/bootstrap-4.5.3/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('bundles/ipnozadmin/vendor/bs-custom-file-input.min.js') }}"></script>
        <script src="{{ asset('bundles/ipnozadmin/vendor/metis-menu/metisMenu.min.js') }}"></script>
        <script src="{{ asset('bundles/ipnozadmin/vendor/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ asset('bundles/ipnozadmin/vendor/jquery-slicknav/jquery.slicknav.min.js') }}"></script>
        <script src="{{ asset('bundles/ipnozadmin/vendor/jquery-easing-1.4.1.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('bundles/ipnozadmin/build/admin.min.js') }}"></script>

        {% block modals %}{% endblock modals %}
    </body>
</html>
