#btn-toggle-sidebar {
    position: fixed;
    z-index: 99;
    display: inline-block;
    cursor: pointer;
    background: #303641;
    padding: 14px;
    transition: $transition-fast;
    margin: 0;
    top: 0;
    right: 0;
    @media #{$min-width-xs} {
        left: $sidebar-width;
        right: initial;
    }
    @media #{$sidebar-show-behaviour} {
        position: initial;
        background: none;
        padding: 0;
        margin: 10px 30px 0 0;
    }
    span {
        display: block;
        width: 22px;
        height: 2px;
        margin: 4px 0;
        border-radius: 15px;
        background: #fffbfb;
        transition: $transition-fast;
        box-shadow: 0 0 0 4px rgba(99, 96, 96, 0.03);
        @media #{$sidebar-show-behaviour} {
            background: #b3aaaa;
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:first-child {
            transform: rotate(45deg)translate(5px, 5px);
        }
        &:last-child {
            transform: rotate(-45deg)translate(3px, -3px);
        }
    }
}

.sbar_collapsed {
    #btn-toggle-sidebar {
        position: initial;
        background: none;
        padding: 0;
        margin: 10px 30px 0 0;
        span {
            background: #b3aaaa;
            transform: none;
            opacity: 1;
        }
    }
}
