
.main-content {
    flex: 1 0 auto;
    width: 100%;
    background: #F3F8FB;
    .main-content-inner {
        padding: 0 15px 50px;
        @media #{$min-width-xs} {
            padding: 0 15px 35px;
        }
        @media #{$min-width-md} {
            padding: 0 15px 50px;
        }
        @media #{$min-width-xxl} {
            padding: 0 30px 50px;
        }
    }
}
