
.metismenu {
    .menu-section {
        padding: 19px 10px 20px;
        background: #303641;
        border-bottom: 1px solid #343e50;
        color: #d2d2d2;
        text-transform: uppercase;
        span {
            margin-left: 10px;
        }
    }
    > li {
        > a {
            padding-left: 32px !important;
        }
        &:hover > a,
        &.active > a {
            color: #fff;
            background: #343942;
        }
    }
    li {
        overflow: hidden;
        text-overflow: ellipsis;
        &.active {
            > a:after {
                content: '\f106';
                font-family: $fontAwesome;
                font-weight: 900;
            }
        }
        a {
            position: relative;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #8d97ad;
            font-size: 15px;
            text-transform: capitalize;
            padding: 15px 15px;
            letter-spacing: 0;
            font-weight: 400;
            i {
                color: #6a56a5;
                transition: $transition-fast;
            }
            span {
                margin-left: 10px;
            }
            &:after {
                position: absolute;
                content: '\f107';
                font-family: $fontAwesome;
                font-weight: 900;
                right: 15px;
                top: 12px;
                color: #8d97ad;
            }
            &:only-child:after {
                content: '';
            }
        }
        &:hover > a,
        &.active > a {
            color: #fff;
            i {
                color: #fff;
            }
        }
        ul {
            padding-left: 37px;
        }
        li {
            a {
                padding: 8px 20px;
                &:after {
                    top: 6px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sbar_collapsed {
        .metismenu {
            li a span,
            li a:after,
            .collapse.in {
                display: inline-block;
            }
        }
    }
}
