
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    .page-container {

        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 100%;
        transition: padding-left 0.3s ease 0s;
        padding-left: 0;
        @media #{$sidebar-show-behaviour} {
            padding-left: $sidebar-width;
        }
        &.sbar_collapsed {
            padding-left: 0;
        }
    }
}
