
.sidebar-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100vh;
    overflow: hidden;
    background: #303641;
    box-shadow: 2px 0 32px rgba(0, 0, 0, 0.05);
    transition: $transition-fast;

    width: calc(100% - 48px);
    @media #{$min-width-xs} {
        width: $sidebar-width;
    }

    .sidebar-header {
        padding: 19px 32px 20px;
        background: #303641;
        border-bottom: 1px solid #343e50;
        text-align: center;
        .logo {
            a {
                display: inline-block;
                max-width: 120px;
            }
        }
        .title {
            color: #fff;
            font-weight: bold;
        }
    }

    .main-menu {
        height: calc(100% - 100px);
        overflow: hidden;
        transition: $transition-fast;

        /**
         * @Orphan
         * Todo: remove
         */
        &.minisidebar {
            margin-right: 0;
        }

        .menu-inner {
            height: 100%;
            &:hover {
                overflow-y: scroll;
            }
        }
    }
}

.sbar_collapsed {
    .sidebar-menu {
        left: -100%;
        @media #{$sidebar-show-behaviour} {
            left: -$sidebar-width;
        }
    }
    .logo {
        a {
            span {
                display: block;
            }
        }
    }
}
