{% extends '@IpnozAdmin/base.html.twig' %}

{% block body %}

<div id="preloader">
    <div class="loader"></div>
</div>

<div class="page-container">

    {% include '@IpnozAdmin/Base/sidebar.html.twig' %}

    <div class="main-content">
        {% block main_content %}{% endblock main_content %}
    </div>

    <footer>
        <div class="footer-area">
            <p>&copy; IpnozAdmin {{ 'now'|date('Y') }}</p>
        </div>
    </footer>
</div>

{% include '@IpnozAdmin/Base/offset-area.html.twig' %}
{% include '@IpnozAdmin/Base/ajax-flash-message.html.twig' %}

{% endblock body %}
