
<div class="row align-items-center">

    <div class="my-2">
        <div class="breadcrumbs-area clearfix">
            {{ knp_menu_render(breadcrumbsMenu, {
                'template': '@IpnozAdmin/Bundles/knp_menu/breadcrumbs.html.twig',
                'currentAsLink': false,
                'compressed': true
            }) }}
        </div>
    </div>

</div>
