
{% for label, messages in app.session.flashbag.all %}

    {% if label == 'formValidationError' %}

        {# Display all form validation error in the same flash-message #}
        {% for validationMessages in messages %}
            <div class="alert alert-danger alert-form-validation">
                <h3 class="title">The form validation has failed :</h3>
                <ul>
                    {% for error in validationMessages %}
                        {% if error.fieldName is not empty %}
                            <li><strong>{{ error.fieldName }}</strong> : {{ error.message }}</li>
                        {% else %}
                            <li>{{ error.message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

    {% else %}

        {# Classical flash-messages #}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
        {% endfor %}

    {% endif %}
{% endfor %}
