{% extends '@IpnozAdmin/Base/main-content.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/ipnozadmin/vendor/bootstrap-daterangepicker/daterangepicker.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/ipnozadmin/vendor/ckeditor5/build-classic-all-plugin/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/ipnozadmin/vendor/ckeditor5/build-classic-all-plugin/translations/fr.js') }}"></script>
    <script src="{{ asset('bundles/ipnozadmin/vendor/ckfinder/ckfinder.min.js') }}"></script>
    <script src="{{ asset('bundles/ipnozadmin/vendor/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/ipnozadmin/vendor/bootstrap-daterangepicker/daterangepicker.min.js') }}"></script>
{% endblock %}

{# Disable the admin toolbar #}
{% block admin_toolbar %}{% endblock %}
