
<div class="row align-items-center">

    <div class="col-3 col-md-6">
        <div id="btn-toggle-sidebar">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="notification-area col-9 col-md-6 row justify-content-end">
        <div id="full-view" class="item"><i class="ti-fullscreen"></i></div>
        <div id="full-view-exit" class="item"><i class="ti-zoom-out"></i></div>
        <div id="settings-btn" class="item"><i class="ti-settings"></i></div>
    </div>
</div>
