
<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#modal-upload-image">
    Ajouter une image
</button>

<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#modal-select-media">
    Selectionner une image
</button>

<div id="image-editor" class="row justify-content-center align-items-center">
    {% if image is defined and image is not null %}
        <img src="{{ asset('upload/images/'~ image.filename) }}" alt="" />
    {% else %}
        <i class="fa fa-image"></i>
    {% endif %}
</div>
