{% extends '@IpnozAdmin/Base/body.html.twig' %}

{% block main_content %}
    <div class="header-area">
        {% include '@IpnozAdmin/Base/header-area.html.twig' %}
    </div>

    {% if breadcrumbsMenu is defined %}
    <div class="page-title-area">
        {% include '@IpnozAdmin/Base/breadcrumbs.html.twig' %}
    </div>
    {% endif %}

    {% include '@IpnozAdmin/Base/Misc/outdated-browser.html.twig' %}

    <div class="container-fluid py-5">
        {% block admin_toolbar %}
        <div class="admin-toolbar">
            {% block admin_toolbar_content %}{% endblock admin_toolbar_content %}
        </div>
        {% endblock admin_toolbar %}
        {% include '@IpnozAdmin/Base/flash-messages.html.twig' %}
        {% block tabs_menu %}{% endblock tabs_menu %}
        {% block content %}{% endblock content %}
    </div>
{% endblock main_content %}
