
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="title">
            {% block sidebar_title %}IPNOZ ADMIN{% endblock %}
        </div>
    </div>

    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                {{ knp_menu_render('IpnozAdminBundle:SidebarBuilder:mainMenu', {
                    'template': '@IpnozAdmin/Bundles/knp_menu/sidebar.html.twig',
                    'currentClass': 'active',
                    'ancestorClass': 'active',
                    'compressed': true
                }) }}
            </nav>
        </div>
    </div>
</div>
