
{% block tabs_header %}
    <ul class="nav nav-tabs" role="tablist">
        {% for tab in tabs %}
            {% set active = (tab.isActive) ? 'active' : '' %}
            {% set selected = (tab.isActive) ? 'true' : 'false' %}
            <li class="nav-item" role="presentation">
                <a class="nav-link {{ active }}" data-id="{{ tab.id }}" data-toggle="tab" href="#{{ tab.id }}-tab" role="tab" aria-controls="content" aria-selected="{{ selected }}">
                    {{ tab.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock tabs_header %}

{% block tabs_content %}
    <div class="tab-content">
        {% block tabs_content_inner %}{% endblock tabs_content_inner %}
    </div>
{% endblock tabs_content %}
