
{% set active = (tabPane.isActive) ? 'show active' : '' %}
<div class="tab-pane {{ active }}" id="{{ tabPane.id }}-tab" role="tabpanel" aria-labelledby="{{ tabPane.id }}-tab">
    {% block tab_pane %}{% endblock tab_pane %}
</div>
